@font-face {
    font-family: 'font_general';
    src: url('../Assets/Font/Font_general.ttf');
}

@font-face {
    font-family: 'font_titre';
    src: url('../Assets/Font/Font_title.ttf');
}


* {
    font-family: "font_general";
}

body{
    margin: 0 auto;
    background: url("../Assets/Images/background_about0.png");
    background-size: cover;
    min-height: 80vh;
    padding: 25px;
}

/* Top navigation menu */

header.header1 {
    display: flex;
    align-items: center;
}

header.header1 img{
    width: 350px;
}

nav.nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 60vh;
    font-size: 1.8vh;
}

nav.nav li {
    color: white;
    transition: transform 0.3s ease-in-out;
}

nav.nav li:hover {
    transform: scale(1.1);
}

nav.nav a:link,
nav.nav a:visited {
    color: white;
    text-decoration: none;
}

/* What's JustBreathe? */

.text_box {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.726);
    border: 2px solid rgba(255, 255, 255, 0.164);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 100px
}
  
.text_box p {
    font-family: "font_general", cursive;
    color: black; 
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
}

.text_box p br {
    display: block;
    content: ""; 
    margin-top: 0.4em;
}

.text_box .title_box {
    font-family: "font_titre", cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px
}

/* Contact box */

.contact{
    display: flex;
    justify-content: center;
    
}

.contact_content {
    width: 90vh;
    height: 46vh;
    background-color: rgba(76, 77, 69, 0.418);
    display: flex;
}

.contact_image img {
    width: 30vh;
    height: 46vh;
}

.contact_text {
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 46vh;
}

.title_contact {
    position: relative;
    width: 60vh;
    height: 12vh;
    text-align: center;
    font-family: "font_titre", cursive;
    letter-spacing: 0.3vh;
    font-size: 4vh;
    color: black;
}

.title_contact::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 28vh;
    height: 0.6vh;
    bottom: 0.9em;
}

.contact_icons {
    width: 60vh;
    height: 34vh;
    display: flex; 
    flex-direction: column;
    align-items: left;
    margin-left: 2vh;
    color: black;
}

.contact_icons img {
    width: 7vh; 
    height: auto;
}

.mail {
    display: flex;
    gap: 2vh;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.mail_txt {
    font-size: 2vh;
    font-weight: 600;
}

.mail:hover{
    transform: scale(1.02);
}

.mail_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mail_link {
    color: rgb(199, 192, 192);
    text-decoration: none;
}

.instagram {
    display: flex;
    gap: 2vh;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.instagram:hover{
    transform: scale(1.02);
}

.instagram_txt {
    font-size: 2vh;
    font-weight: 600;
}

.instagram_link {
    color: rgb(199, 192, 192);
    text-decoration: none;
}

.location {
    display: flex;
    gap: 2vh;
    margin-bottom: 20px;
}

.location img {
    width: 8.2vh;
    height: 8.2vh;
    margin-left: -0.5vh;
}

.location_txt {
    font-size: 2vh;
    font-weight: 600;
    color: rgb(199, 192, 192);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vh;
    font-weight: 500;
}